
body, html {
  height: 546px;
  width: 410px;
}

body {
  background-image: url('../images/background.jpg');
}

pre {
  max-height: 300px;
  overflow-y: scroll;
  background-color: white;
  color: black;
}

#root{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

